/* dateTime Css */
.rdt {
  position: relative;
}
.rdtPicker {
  display: none;
  position: absolute;
  width: 250px;
  padding: 4px;
  margin-top: 1px;
  z-index: 99999 !important;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid #f9f9f9;
}
.rdtOpen .rdtPicker {
  display: block;
}
.rdtStatic .rdtPicker {
  box-shadow: none;
  position: static;
}

.rdtPicker .rdtTimeToggle {
  text-align: center;
}

.rdtPicker table {
  width: 100%;
  margin: 0;
}
.rdtPicker td,
.rdtPicker th {
  text-align: center;
  height: 28px;
}
.rdtPicker td {
  cursor: pointer;
}
.rdtPicker td.rdtDay:hover,
.rdtPicker td.rdtHour:hover,
.rdtPicker td.rdtMinute:hover,
.rdtPicker td.rdtSecond:hover,
.rdtPicker .rdtTimeToggle:hover {
  background: #eeeeee;
  cursor: pointer;
}
.rdtPicker td.rdtOld,
.rdtPicker td.rdtNew {
  color: #999999;
}
.rdtPicker td.rdtToday {
  position: relative;
}
.rdtPicker td.rdtToday:before {
  content: "";
  display: inline-block;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #428bca;
  border-top-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 4px;
  right: 4px;
}
.rdtPicker td.rdtActive,
.rdtPicker td.rdtActive:hover {
  background-color: #428bca;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.rdtPicker td.rdtActive.rdtToday:before {
  border-bottom-color: #fff;
}
.rdtPicker td.rdtDisabled,
.rdtPicker td.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}

.rdtPicker td span.rdtOld {
  color: #999999;
}
.rdtPicker td span.rdtDisabled,
.rdtPicker td span.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}
.rdtPicker th {
  border-bottom: 1px solid #f9f9f9;
}
.rdtPicker .dow {
  width: 14.2857%;
  border-bottom: none;
  cursor: default;
}
.rdtPicker th.rdtSwitch {
  width: 100px;
}
.rdtPicker th.rdtNext,
.rdtPicker th.rdtPrev {
  font-size: 21px;
  vertical-align: top;
}

.rdtPrev span,
.rdtNext span {
  display: block;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.rdtPicker th.rdtDisabled,
.rdtPicker th.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}
.rdtPicker thead tr:first-child th {
  cursor: pointer;
}
.rdtPicker thead tr:first-child th:hover {
  background: #eeeeee;
}

.rdtPicker tfoot {
  border-top: 1px solid #f9f9f9;
}

.rdtPicker button {
  border: none;
  background: none;
  cursor: pointer;
}
.rdtPicker button:hover {
  background-color: #eee;
}

.rdtPicker thead button {
  width: 100%;
  height: 100%;
}

td.rdtMonth,
td.rdtYear {
  height: 50px;
  width: 25%;
  cursor: pointer;
}
td.rdtMonth:hover,
td.rdtYear:hover {
  background: #eee;
}

.rdtCounters {
  display: inline-block;
}

.rdtCounters > div {
  float: left;
}

.rdtCounter {
  height: 100px;
}

.rdtCounter {
  width: 40px;
}

.rdtCounterSeparator {
  line-height: 100px;
}

.rdtCounter .rdtBtn {
  height: 40%;
  line-height: 40px;
  cursor: pointer;
  display: block;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
.rdtCounter .rdtBtn:hover {
  background: #eee;
}
.rdtCounter .rdtCount {
  height: 20%;
  font-size: 1.2em;
}

.rdtMilli {
  vertical-align: middle;
  padding-left: 8px;
  width: 48px;
}

.rdtMilli input {
  width: 100%;
  font-size: 1.2em;
  margin-top: 37px;
}

.rdtTime td {
  cursor: default;
}

/* ///////////////////////////////////////////////////// */


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: 70%;
  text-align: left;
  padding: 1%;
  border: 1px solid black;
  margin: 0;
}
.History-box {
  font-size: 70%;
  text-align: left;
  padding: 1%;
  border: 1px solid black;
  margin: 0;
}
.History-body {
  font-size: 70%;
  text-align: left;
  padding: 1%;
  border: 1px solid black;
  margin: 0;
  height: 200px;
}
.Top-Box {
  height: 70px;
  border: 1px solid black;
  margin: 0;
  position: relative;
}
.Left-tab {
  height: 600px;
  border: 1px solid black;
}


/* .Left-tab {
  height: 600px;
  width:20%;
  border: 1px solid black;
} */
.Display-msg {
  float: left;
  font-size: 70%;
  margin: 2%;
  display: inline-block;
}
#normalCanvas{
  width: 100%; 
  height: 100%;
}
#FullCanvas{
  width: 200%;
  height: 200%;
}

#CompileButton {
  background-color: yellow;
}
#showHideHistoryBar {
  background-color: red;
}
#Incoming-button {
  background-color: rgb(50, 240, 50);
}
#Outcoming-button {
  background-color: rgb(50, 240, 50);
}
#Edit-button {
  background-color: yellow;
}
#createRelation-button {
  background-color: orange;
}
#removeNode-button {
  background-color: rgb(50, 240, 50);
}
#deleteNode-button {
  background-color: yellow;
}
#editRelationship {
  background-color: orange;
}
#deleteRelationship {
  background-color: rgb(50, 240, 50);
}
#Addnode-button {
  align: right;
  font-size: medium;
}
#Addnode-modal {
  font-size: medium;
  background-color: rgb(50, 240, 50);
}
#modal-next-button {
  align: right;
  font-size: medium;
}
#modal-cancel-button {
  align: right;
  font-size: medium;
}
#FullScreen-button {
  align: right;
  font-size: medium;
  background-color: rgb(50, 240, 50);
}
#Clear-Canvas {
  align: right;
  font-size: medium;
  float: clear;
  background-color: rgb(50, 240, 50);
}
#Edge-button {
  font-size: medium;
}
#cancel-edge {
  font-size: medium;
}
#Edge-modal {
  font-size: medium;
}
.Canvas {
  text-align: center;
  height: 400px;
  border: 1px solid black;
  position: relative;

  margin-bottom: 40;
}
#inside-box {
  border: 1px solid black;
}
#command-div {
  width: 100%;
}
#relationMenu-div {
  width: 100%;
  height: 10%;
  border: 1px solid black;
}
.CanvasFullScreen {
  test-align: center;
  height: 800px;
  border: 1px solid black;
}
#his-button {
  font-size: medium;
}
#history-div {
  margin: 0;
  height: 100%;
  width: 100%;
  border: 1px solid black;
}
#Modal-header {
  position: relative;
  top: -9%;
  height: 40%;
  margin-right: 0;
  border: 1px solid black;
}
#addnodeModal-header {
  position: relative;
  top: 0%;
  height: 20%;
  margin-right: 0;
  border: 1px solid black;
}
#hidemodal-button {
  float: right;
}
#modal-middle-div {
  position: relative;
  height: 40%;
  top: -10%;
  border: 1px solid black;
}
#addnodemodal-middle-div {
  position: relative;
  height: 70%;
  top: 10%;
  border: 1px solid black;
}
#ineditRmodal-middle-div {
  height: 80%;
  top: -10%;
  border: 1px solid black;
}
.msgTxt {
  width: 70%;
  height: 30%;
}
#editRmodal-bottom-div {
  height: 20%;
  top: -30%;
}
#editRmodal-middle-div {
  position: relative;
  height: 70%;

  border: 1px solid black;
}
#modal-bottom-div {
  position: relative;
  height: 35%;
  top: -10%;
  border: 1px solid black;
}
#addnodemodal-bottom-div {
  position: relative;
  height: 10%;
  top: 10%;
  border: 1px solid black;
}
#edge-top-div {
  position: relative;
  top: -9%;
  height: 40%;
  margin-right: 0;
  border: 1px solid black;
}
#edit-top-div {
  position: relative;
  top: -9%;
  height: 20%;
  margin-right: 0;
  border: 1px solid black;
}
#edge-middle-div {
  position: relative;
  height: 40%;
  top: -10%;
  border: 1px solid black;
}
#edit-middle-div {
  position: relative;
  height: 90%;
  top: -10%;
  border: 1px solid black;
}
#edge-bottom-div {
  position: relative;
  height: 35%;
  top: -10%;
  border: 1px solid black;
}
#select-id {
  width: 70%;
  padding-left: 5%;
  padding-top: 5%;
}
.Nodetext {
  width: 70%;
}
#section {
  float: right;
}
#inside-editmid-div {
  margin-top: 2%;
  margin-bottom: 2%;
  height: 60%;
  border: 1px solid black;
}
#Editnode-classname {
  display: inline-block;
  margin-top: 0%;
  margin-right: 10%;
  margin-left: 3%;
  font-size: small;
}
#select-nodetype {
  display: inline-block;
  margin-left: 3%;
}
.Node-editor {
  width: 60%;
}
#CreateDate {
  margin-top: 0%;
  margin-left: 3%;
  margin-right: 3%;
  font-size: small;
}
#top-deletenode-div {
  position: relative;
  top: -9%;
  height: 20%;
  margin-right: 0;
  border: 1px solid black;
}
#middle-deletenode-div {
  position: relative;
  height: 60%;
  top: -10%;
  border: 1px solid black;
}
#topbar-prop {
  height: 5%;
  border: 1px solid black;
}
#properties-prop {
  width: 50%;
  border: 1px solid black;
  float: left;
}
#setting-prop {
  border: 1px solid black;
  float: clear;
}
#alertmsg {
  width: 100%;
  height: 5%;
}

#hide-nodeprops-button {
  float: right;
}
#alertTest {
  position: fixed;
  top: 0;
  width: 100%;
}
#close-editnode-alert {
  float: right;
  margin-right: 10%;
}
#edge-hide-button {
  float: right;
}
